{% extends "registration/registration_headers.html" %}
{% block content %}
<h1 class="m-5">Recuperación de contraseña</h1>
<div class="container" style="width:25rem;">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
    <label for="exampleInputPassword1" class="form-label" >Ingresa tu correo electrónico</label>
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-primary btn-lg" value="Resetear contraseña">
  </form>
</div>
{% endblock %}