{% extends "headers.html" %}
{% load static %}

{% block content %}
  <div class="container justify-content-md-center text-dark">
    <div class="row">
      <h4 class="mt-4 mb-3">Editar Contacto de Emergencia</h4>
    </div>
    <div class="row justify-content-md-center p-3 m-3 bg-light rounded">
      <p>Descripción de lo que es un contacto de Emergencia</p>
      <div class="form-group" style="width:25rem;">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary mb-3">Guardar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}