{% extends "headers.html" %}
{% load static %}

{% block content %}
  <div class="container justify-content-md-center text-dark">
    <div class="row">
      <h4 class="mt-4 mb-3">Enviar Aviso Rápido</h4>
    </div>
    <div class="row justify-content-md-center bg-light rounded text-start ">
      <div class="form-group" style="width:25rem;">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary mb-3">Guardar</button>
        </form>
      </div>
    </div>
  </div>

<script>
    $(function(){
      $(".email-addresses").multiEmails();
    });

    $(function(){
        $("#email-addresses").multiEmails({
            color:"#343a40",
            textColor:"#000000"
        });
    });
    
    $(function(){
        $("#email-addresses").multiEmails({
            fontAwesome:true
        });
    });
        
</script>
    
{% endblock %}